2. game/MMSystems5Game/MMSystems5Game/Service References/GanzenBordServiceCloud/GanzenbordService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMSystems5Silverlight.Web.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMSystems5Silverlight.Web.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gewonnen" type="xs:int" />
      <xs:element minOccurs="0" name="Locatie" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="Verloren" type="xs:int" />
      <xs:element minOccurs="0" name="Wachtwoord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>