2. game/MMSystems5Silverlight/MMSystems5Silverlight/Service References/ServiceLocal/GanzenbordService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MMSystems5Silverlight.Web.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MMSystems5Silverlight.Web.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gewonnen" type="xs:int" />
      <xs:element minOccurs="0" name="HostID" type="xs:int" />
      <xs:element minOccurs="0" name="IsHost" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lobby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locatie" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerNaam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verloren" type="xs:int" />
      <xs:element minOccurs="0" name="Wachtwoord" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfLobby">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lobby" nillable="true" type="tns:Lobby" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLobby" nillable="true" type="tns:ArrayOfLobby" />
  <xs:complexType name="Lobby">
    <xs:sequence>
      <xs:element minOccurs="0" name="AantalPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="CanJoinLobby" type="xs:boolean" />
      <xs:element minOccurs="0" name="HostID" type="xs:int" />
      <xs:element minOccurs="0" name="HostPlayer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayersInLobby" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="Start" type="xs:boolean" />
      <xs:element minOccurs="0" name="WhoIsTurnId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lobby" nillable="true" type="tns:Lobby" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="GameState">
    <xs:sequence>
      <xs:element minOccurs="0" name="Start" type="xs:boolean" />
      <xs:element minOccurs="0" name="players" nillable="true" type="tns:ArrayOfPlayer" />
      <xs:element minOccurs="0" name="turn" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameState" nillable="true" type="tns:GameState" />
</xs:schema>