2. game/MMSystems5Silverlight/MMSystems5Silverlight/Service References/GanzenBordService/GanzenbordService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GanzenbordService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2738/GanzenbordService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGanzenbordService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IGanzenbordService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IGanzenbordService_Gooi_InputMessage">
    <wsdl:part name="parameters" element="tns:Gooi" />
  </wsdl:message>
  <wsdl:message name="IGanzenbordService_Gooi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GooiResponse" />
  </wsdl:message>
  <wsdl:portType name="IGanzenbordService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IGanzenbordService/DoWork" message="tns:IGanzenbordService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGanzenbordService/DoWorkResponse" message="tns:IGanzenbordService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Gooi">
      <wsdl:input wsaw:Action="http://tempuri.org/IGanzenbordService/Gooi" message="tns:IGanzenbordService_Gooi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGanzenbordService/GooiResponse" message="tns:IGanzenbordService_Gooi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGanzenbordService" type="tns:IGanzenbordService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IGanzenbordService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Gooi">
      <soap:operation soapAction="http://tempuri.org/IGanzenbordService/Gooi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GanzenbordService">
    <wsdl:port name="BasicHttpBinding_IGanzenbordService" binding="tns:BasicHttpBinding_IGanzenbordService">
      <soap:address location="http://localhost:2738/GanzenbordService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>